@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-calendars/styles/material.css";
@import "../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-schedule/styles/material.css";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
html {
  overflow-x: hidden;
}
#root{
  overflow-x: hidden;
}
body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  padding-right: 0 !important;
  overflow-y: auto; // Enable vertical scrollbar
  overflow-x: hidden; // Disable horizontal scrollbar
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  &::-webkit-scrollbar {
    width: 5px; // Set the width of the scrollbar
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); // Set the color of the scrollbar thumb
    border-radius: 10px; // Set the border radius of the scrollbar thumb
  }

  &::-webkit-scrollbar-track {
    background-color: transparent; // Make the scrollbar track transparent
  }
}


a{
  text-decoration: none;
  color: #1976d2;
}

