*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  overflow-y: auto; // Enable vertical scrollbar

  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  &::-webkit-scrollbar {
    width: 5px; // Set the width of the scrollbar
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); // Set the color of the scrollbar thumb
    border-radius: 10px; // Set the border radius of the scrollbar thumb
  }

  &::-webkit-scrollbar-track {
    background-color: transparent; // Make the scrollbar track transparent
  }
}


a{
  text-decoration: none;
  color: #1976d2;
}
